@font-face {
    font-family: 'Hiragino';
    font-weight: 300;
    font-style: normal;
    src: url("./HiraginoSans-W3.woff2") format("woff2"), url("./HiraginoSans-W3.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Hiragino';
    font-weight: 400;
    font-style: normal;
    src: url("./HiraginoSans-W4.woff2") format("woff2"), url("./HiraginoSans-W4.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Hiragino';
    font-weight: 500;
    font-style: normal;
    src: url("./HiraginoSans-W5.woff2") format("woff2"), url("./HiraginoSans-W5.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Hiragino W7';
    font-style: normal;
    src: url("HiraginoSans-W7.woff2") format("woff2"), url("HiraginoSans-W7.woff") format("woff");
}