$base-color: #FFB7B2;

.title-text {
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
    overflow-y: hidden; // Fixes bug where scrolling appears on smaller screen sizes.
}

.sign-in {
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 8px;
    border: none;
}

.sign-in-main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    cursor: pointer;
    padding: 16px 40px;
    border-radius: 40px;
    border: none;
    margin-top: 30px;
}

// Animations for the buttons on the page.
.white {
    color: $base-color;
    background-color: white;
    border-bottom: 1px solid $base-color;
}
.pink {
    color: white;
    background-color: $base-color;
    border-bottom: 1px solid white;
}
.business-button.white {
    background-color: $base-color;
    color: white;
    transition: background-color 0.3s;
}
.business-button.white:hover {
    background-color: rgba(255,183,178,0.8);
    transition: background-color 0.3s;
}
.business-button.white:active {
    background-color: rgba(255,183,178,0.5);
    transition: background-color 0.2s;
}
.business-button.pink {
    background-color: white;
    color: $base-color;
    transition: background-color 0.3s;
}
.business-button.pink:hover {
    background-color: rgba(255,255,255,0.8);
    transition: background-color 0.3s;
}
.business-button.pink:active {
    background-color: rgba(255,255,255,0.5);
    transition: background-color 0.2s;
}

.business-sidebar {
    position: absolute;
    right: 40px;
    top: 45vh;
    z-index: 99;
}

.bottom-text {
    position: absolute; // Top is programatically passed in from JS.
    font-weight: 700;
    font-size: 24px;
    width: 150px;
    left: calc(50vw - 75px); // Centers on the page.
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: auto;
    overflow-x: hidden; // Fixes bug on mobile that allows for horizontal scrolling.
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .page {
        height: 100%;
        min-height: 100%;
        width: 100%;
        min-width: 100%;
    }
    .cup {
        padding-top: 100px;
    }
    .title-text {
        max-width: 85%;
        color: rgba(0,0,0,0.85)
    }
}

.learn-more-page {
    background-color: $base-color;
    padding: 30px;

    .learn-more-circle {
        background-color: white;
        border-radius: 100px;
        min-width: 100px;
        min-height: 100px;
        color: $base-color;
        font-weight: 700;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }
    .title-text {
        color: white;
        font-size: 36px;
        line-height: 1.3;
        padding-bottom: 80px;
    }
    .right-arrow {
        max-width: 183px;
        position: absolute;
        top: calc(100vh + 185px);
    }
    .learn-more-image {
        margin: 20px;
    }
    img {
        object-fit: contain !important; // Ensures images aren't cropped, overrides default Gatsby style.
    }
}

.business-sign-up {
    width: 35vw;
    margin-top: 150px;
    padding: 20px 50px;
    min-height: 65vh;
}

// Eliminates snap scroll and changes all flexboxes to columns. 
// Changes font sizes and margins to reliably fit on smaller devices.
// Uses the !important flag to reliably override SASS selector specificity.
@media screen and (max-width: 960px) {
    .business-container {
        min-height: 100% !important;
        height: auto !important;
    }
    .intro-page {
        padding-bottom: 0px !important;
    }
    .learn-more-page {
        flex-direction: column !important;
    }
    .business-container .cup {
        max-height: 500px !important;
        padding-top: 100px !important;
    }
    .business-button.sign-in {
        font-size: 18px !important;
    }
    .business-button.sign-in-main {
        font-size: 24px !important;
    }
    .business-sidebar {
        right: 20px !important;
    }
    .right-arrow {
        display: none !important;
    }
    .bottom-text {
        display: none !important;
    }
    .sign-in-main {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
}

// Slight font and width modifications for smaller browser windows.
@media (max-height: 900px), (max-width: 1200px) {
    .intro-page {
        .title-text {
            font-size: 32px !important;
        }
    }
    .learn-more-page {
        .title-text {
            font-size: 26px !important;
            margin: 0px !important;
        }
        .learn-more-image {
            margin: 0px !important;
        }
    }
}

// Intended to cover all mobile devices.
// Eliminates sign up button in header, further shrinks font sizes and adapts margins. 
@media screen and (max-width: 768px) {
    .title, .subtitle {
        font-size: 24px !important;
    }
    .title-text {
        font-size: 26px !important;
        max-width: 80% !important;
    }
    .business-logo {
        height: 40px !important;
    }
    .business-logo-text {
        margin-left: 10px !important;
    }
    .sign-in.business-button {
        display: none !important;
    }
}

@keyframes fade-in {
    0% { 
        opacity: 0; 
    }
    100%   { 
        opacity: 1; 
    }
}