.page-header {
    position: absolute;
    top: 30px;
    font-size: 48px;
    font-weight: 700;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    
    .col {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        max-width: 48%;
    }
}

.sign-up {
    width: 45vw;
    padding: 20px 50px;
    position: relative;
    min-height: 50vh;
    overflow: visible;

    * {
        overflow: visible;
    }

    form {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    button {
        margin-top: auto;
        transition: opacity 0.3s;
    }
    
    .error {
        color: red;
        min-height: 20px;
    }

    input {
        color: rgba(0,0,0,0.9) !important;
    }

    h6 {
        font-size: 18px;
        font-weight: 300;
        color: #6D7278;
        margin: 0;

    }
}

.fade-in {
    animation: fade-in 0.5s ease-in-out;
}

@media screen and (max-width: 960px) {
    .page-header {
        font-size: 32px;
    }
}

@media screen and (max-width: 768px) {
    .page-header {
        font-size: 24px;
    }
    .sign-up {
        min-height: auto !important;
        padding: 20px;
    }
    .columns {
        flex-direction: column !important;
        
        .col {
            max-width: 100% !important;
        }
    }
}

@media screen and (max-height: 600px) {
    .sign-up {
        margin-top: 100px !important;
    }
}

@keyframes fade-in {
    0% { 
        opacity: 0; 
    }
    100%   { 
        opacity: 1; 
    }
}