$base-color: #FFB7B2;

* {
    box-sizing: border-box; 
    font-family: 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

input:focus, button:focus {
    outline: 0;
}

.landing {
    width: 100%;
}

.logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-color: $base-color;

    .logo {
        margin-left: 20px;
        width: 360px;
    }
    svg {
        opacity: 0;
        animation: fade-in 0.75s ease-in;
        animation-fill-mode: forwards;
    }
}

.container {
    display: flex;
    flex-direction: row;
}
.container-half {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-tri {
    display: flex;
    flex-direction: column;
    flex: 1 1 33%;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: 120px;
}
.title-text {
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
}
.react-ripples {
    transition: transform 0.3s;
    margin-top: 30px;
    border-radius: 15px;
}
.react-ripples:hover {
    transform: scale(1.1);
}
.submitted { 
    animation: fade-in 0.75s ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
    min-height: 275px;
}

.submitted-text {
    font-size: 30px;
    margin-top: 20px;
}

#landing-container.container {
    padding-bottom: 100px;
}
#landing-container {
    background-color: $base-color;

    .container-half {
        animation: fade-in 0.75s ease-in 0.75s;
        animation-fill-mode: forwards;
        opacity: 0;
        color: white;

        .title-text {
            max-width: 60%;
        }
        .subtext {
            font-size: 30px;
            font-weight: 500;
            margin-top: 70px;
            margin-bottom: 30px;
        }
    }

    .sign-up-form {
        display: flex;
        flex-direction: column;
        width: 75%;

        * {
            height: 50px;
            border: 0px;
            border-radius: 15px;
        }
        input {
            margin-bottom: 15px;
            padding: 10px 20px;
            color: $base-color;
            font-weight: 300;
            font-size: 20px;
        }
        input::placeholder {
            color: $base-color;
        }
        input:focus::placeholder {
            color: transparent;
        }
        .submit { 
            background-color: white;
            color: $base-color;
            font-weight: 700;
            font-size: 30px;
            cursor: pointer;
            width: 100%;
            min-height: 50px;
        }
    }
}

.cup {
    height: 700px;
    width: 560px;
    padding-top: 50px;
    margin-left: 50px;
}

#business {
    .sign-in {
        font-weight: 700;
        font-size: 24px;
        cursor: pointer;
        padding: 8px 30px;
        border-radius: 8px;
        border: none;
    }
    .sign-in-main {
        font-weight: 700;
        font-size: 36px;
        cursor: pointer;
        padding: 16px 40px;
        border-radius: 40px;
        border: none;
        margin-top: 100px;
    }
    .white {
        color: $base-color;
        background-color: white;
        border-bottom: 1px solid $base-color;
    }
    .pink {
        color: white;
        background-color: $base-color;
        border-bottom: 1px solid white;
    }
    .business-button.white {
        background-color: $base-color;
        color: white;
        transition: background-color 0.3s;
    }
    .business-button.white:hover {
        background-color: rgba(255,183,178,0.8);
        transition: background-color 0.3s;
    }
    .business-button.white:active {
        background-color: rgba(255,183,178,0.5);
        transition: background-color 0.2s;
    }
    .business-button.pink {
        background-color: white;
        color: $base-color;
        transition: background-color 0.3s;
    }
    .business-button.pink:hover {
        background-color: rgba(255,255,255,0.8);
        transition: background-color 0.3s;
    }
    .business-button.pink:active {
        background-color: rgba(255,255,255,0.5);
        transition: background-color 0.2s;
    }
    .business-sidebar {
        position: absolute;
        right: 40px;
        top: 45vh;
        z-index: 99;
    }
}

#business-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding: 15px 30px;
}

#business-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .page {
        height: 100%;
        min-height: 100%;
        width: 100%;
        min-width: 100%;

        .bottom-text {
            position: absolute;
            font-weight: 700;
            font-size: 24px;
            width: 150px;
            left: calc(50vw - 75px);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .cup {
        padding-top: 100px;
    }
    .title-text {
        max-width: 85%;
        color: rgba(0,0,0,0.85)
    }
}

#learn-more-page {
    background-color: $base-color;
    padding: 30px;

    .learn-more-circle {
        background-color: white;
        border-radius: 100px;
        min-width: 100px;
        min-height: 100px;
        color: $base-color;
        font-weight: 700;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }
    .title-text {
        color: white;
        font-size: 36px;
        line-height: 1.3;
    }
    .right-arrow {
        max-width: 183px;
        position: absolute;
        top: calc(100vh + 185px);
    }
    .learn-more-image {
        margin: 20px;
    }
}

.sign-up-form-business {
    width: 35vw;
    border: 3px solid $base-color;
    border-radius: 10px;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px 50px;
    display: flex;
    min-height: 65vh;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .title {
        font-size: 36px;
        font-weight: 700;
    }
    .subtitle {
        font-size: 28px;
        font-weight: 300;
        color: #6D7278;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    input {
        margin-bottom: 15px;
        padding: 10px 20px;
        color: #6D7278;
        font-weight: 300;
        font-size: 20px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid rgba(109, 114, 120, 0.4);
        font-family: 'Helvetica Neue', sans-serif;
    }
    input::placeholder {
        color: #6D7278;
    }
    input:focus::placeholder {
        color: transparent;
    }
    .submit {
        background-color: $base-color;
        color: white;
        font-weight: 700;
        font-size: 30px;
        cursor: pointer;
        min-width: 100%;
        min-height: 55px;
        border-radius: 15px;
        border: 0;
    }
    .submit:disabled {
        opacity: 0.7;
    }
    .react-ripples {
        width: 100%;
    }
    .submitted {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: rgba(0,0,0,0.8);
    }
    .submitted-text {
        text-align: center;
    }
}

.rotate-out-2-cw {
	animation: rotate-out-2-cw 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}

/**
 * Keyframes
 */

@keyframes rotate-out-2-cw {
0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
}
100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 0;
}
}

@keyframes fade-in {
    0% { 
        opacity: 0; 
    }
    100%   { 
        opacity: 1; 
    }
}



/**
 * Media Rules
 */
@media screen and (max-width: 960px) {
    .container {
        flex-direction: column-reverse !important;
        padding-bottom: 100px !important;
    }
    #intro-page {
        padding-bottom: 0px !important;
    }
    #learn-more-page {
        flex-direction: column !important;
        height: 300% !important;
        min-height: 300% !important;
    }
    .container-tri {
        margin-top: 140px !important;
        margin-bottom: 200px !important;
        flex: 1 1 100% !important;
    }
    .container-half {
        flex: 1 1 100% !important;
    }
    .cup {
        margin-bottom: 30px !important;
        height: 600px !important;
    }
    #business-container .cup {
        height: 400px !important;
        padding-top: 120px !important;
    }
    .business-button.sign-in {
        font-size: 18px !important;
    }
    .business-button.sign-in-main {
        font-size: 24px !important;
    }
    .title-text {
        max-width: 80% !important;
    }
    .business-sidebar {
        right: 20px !important;
    }
    .right-arrow {
        display: none !important;
    }
    .bottom-text {
        display: none !important;
    }
    .sign-up-form-business {
        width: 80vw !important;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column-reverse !important;
    }
    #learn-more-page {
        flex-direction: column !important;
        height: auto !important;
        min-height: auto !important;
    }
    .cup {
        margin-bottom: 30px !important;
        height: 400px !important;
    }
    #business-container .cup {
        height: 320px !important;
    }
    .title-text {
        font-size: 35px !important;
        max-width: 80% !important;
    }
    .subtext {
        font-size: 30px !important;
    }
    .logo {
        width: 250px !important;
    }
    .logo-image {
        width: 70px !important;
        height: 70px !important;
    }
    .business-logo {
        height: 80px !important;
    }
    .business-logo-text {
        width: 250px !important;
        margin-left: 10px !important;
    }
    .container-tri {
        margin-bottom: 0px !important;
    }
    .sign-in-main {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
    .sign-in.business-button {
        display: none !important;
    }
    .sign-up-form-business {
        margin-bottom: 40px !important;
    }
}


  