$base-color: #FFB7B2;

* {
    box-sizing: border-box; 
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

input:focus, button:focus {
    outline: 0;
}

.landing {
    width: 100%;
}

.logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-color: $base-color;

    .logo {
        margin-left: 20px;
        width: 360px;
    }
    svg {
        opacity: 0;
        animation: fade-in 0.75s ease-in;
        animation-fill-mode: forwards;
    }
}

.landing-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
    background-color: $base-color;

    .container-half {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        animation: fade-in 0.75s ease-in 0.75s;
        animation-fill-mode: forwards;
        opacity: 0;

        .title-text {
            font-size: 50px;
            font-weight: 300;
            line-height: 1.1;
            max-width: 60%;
        }

        .subtext {
            font-size: 30px;
            font-weight: 500;
            margin-top: 70px;
            margin-bottom: 30px;
        }

        .submitted { 
            animation: fade-in 0.75s ease-in;
            animation-fill-mode: forwards;
            opacity: 0;
            min-height: 275px;
        }

        .submitted-text {
            font-size: 30px;
            margin-top: 20px;
        }
    }

    .sign-up-form {
        display: flex;
        flex-direction: column;
        width: 75%;

        * {
            height: 50px;
            border: 0px;
            border-radius: 15px;
        }
        input {
            margin-bottom: 15px;
            padding: 10px 20px;
            color: $base-color;
            font-weight: 300;
            font-size: 20px;
        }
        input::placeholder {
            color: $base-color;
        }
        input:focus::placeholder {
            color: transparent;
        }
        .submit { 
            background-color: white;
            color: $base-color;
            font-weight: 700;
            font-size: 30px;
            cursor: pointer;
            width: 100%;
            min-height: 50px;
        }
        .react-ripples {
            transition: transform 0.3s;
            margin-top: 30px;
        }
        .react-ripples:hover {
            transform: scale(1.1);
        }
    }

    .cup {
        height: 700px;
        width: 560px;
        padding-top: 50px;
        margin-left: 50px;
    }
}

#business-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 30px;

    .sign-in-button {
        font-weight: 700;
        font-size: 24px;
        cursor: pointer;
        padding: 8px 30px;
        border-radius: 8px;
        border: none;
    }
    .sign-in-button.white {
        background-color: $base-color;
        color: white;
        transition: background-color 0.3s;
    }
    .sign-in-button.white:hover {
        background-color: rgba(255,183,178,0.8);
        transition: background-color 0.3s;
    }
    .sign-in-button.white:active {
        background-color: rgba(255,183,178,0.5);
        transition: background-color 0.2s;
    }
    .sign-in-button.pink {
        background-color: white;
        color: $base-color;
        transition: background-color 0.3s;
    }
    .sign-in-button.pink:hover {
        background-color: rgba(255,255,255,0.8);
        transition: background-color 0.3s;
    }
    .sign-in-button.pink:active {
        background-color: rgba(255,255,255,0.5);
        transition: background-color 0.2s;
    }
}

#business {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .page {
        height: 100%;
        min-height: 100%;
        width: 100%;
        min-width: 100%;
    }
    #learn-more-page {
        background-color: $base-color;
    }
}

.rotate-out-2-cw {
	animation: rotate-out-2-cw 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}

.white {
    color: $base-color;
    background-color: white;
    border-bottom: 1px solid $base-color;
}
.pink {
    color: white;
    background-color: $base-color;
    border-bottom: 1px solid white;
}

/**
 * keyframes
 */

@keyframes rotate-out-2-cw {
0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
}
100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 0;
}
}

@keyframes fade-in {
    0% { 
        opacity: 0; 
    }
    100%   { 
        opacity: 1; 
    }
}
/**
 * media rules
 */

@media screen and (max-width: 960px) {
    .landing-container {
        flex-direction: column-reverse !important;
    }
    .container-half {
        flex: 1 1 100% !important;
    }
    .cup {
        margin-bottom: 30px !important;
        height: 600px !important;
    }
    .title-text {
        max-width: 80% !important;
    }
}

@media screen and (max-width: 768px) {
    .landing-container {
        flex-direction: column-reverse !important;
    }
    .cup {
        margin-bottom: 30px !important;
        height: 400px !important;
    }
    .title-text {
        font-size: 40px !important;
        max-width: 80% !important;
    }
    .subtext {
        font-size: 30px !important;
    }
    .logo {
        width: 250px !important;
    }
    .logo-image {
        width: 70px !important;
        height: 70px !important;
    }
}


  