$base-color: #FFB7B2;

// Basic config. 
* {
    box-sizing: border-box; 
    font-family: 'Helvetica Neue', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

html, body {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

input:focus, button:focus, div:focus {
    outline: 0;
}

button {
    transition: opacity 0.3s;
}

button:hover {
    opacity: 0.7;
}

button:active {
    opacity: 0.5;
}

button:disabled {
    opacity: 0.5;
    cursor: default !important;
}

input {
    margin-bottom: 15px;
    padding: 10px 20px;
    color: #6D7278;
    font-weight: 300;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(109, 114, 120, 0.4);
    font-family: 'Helvetica Neue', sans-serif;
}

input::placeholder {
    color: #6D7278;
}

input:focus::placeholder {
    color: transparent;
}

// Universal styles shared across multiple pages. 
.submitted-text {
    font-size: 30px;
    margin-top: 20px;
}

.full-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 90px);
    position: relative;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 150;
}

.button-text {
    background: none;
    color: $base-color;
    font-size: 16px;
    border: 0;
}
.button-text:hover {
    cursor: pointer;
}

.signed-in-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .name {
        font-size: 20px;
        margin-right: 10px;
    }
    button {
        font-size: 20px;
    }
}

.cup {
    height: 700px;
    width: 560px;
    padding-top: 50px;
    margin-left: 50px;
}

// Container styles. 
.container {
    display: flex;
    flex-direction: row;
}
.container-half {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-tri {
    display: flex;
    flex-direction: column;
    flex: 1 1 33%;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: 120px;
}

.rotate-out-2-cw {
	animation: rotate-out-2-cw 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}

// Shared sign up form.
.submit {
    background-color: $base-color;
    color: white;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
    min-width: 100%;
    padding: 10px 0px;
    border-radius: 15px;
    border: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.default-button {
    background-color: $base-color;
    color: white;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 15px;
    border: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sign-up-form {
    border: 3px solid $base-color;
    border-radius: 10px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .title {
        font-size: 36px;
        font-weight: 700;
    }
    .subtitle {
        font-size: 28px;
        font-weight: 300;
        color: #6D7278;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .react-ripples {
        width: 100%;
    }
    .submitted {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: rgba(0,0,0,0.8);
    }
    .submitted-text {
        text-align: center;
    }

    .ReactPasswordStrength-input {
        margin-bottom: 15px;
        padding: 10px 20px;
        color: #6D7278;
        font-weight: 300;
        font-size: 20px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid rgba(109, 114, 120, 0.4);
        font-family: 'Helvetica Neue', sans-serif;
    }
}

// Plugins. 
.ReactPasswordStrength-strength-desc {
    width: auto;
}

.lightbox-button {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: $base-color;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
}

.dropzone {
    color: rgba(0,0,0,0.8);
    font-size: 18px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left !important;

    ul {
        padding-inline-start: 20px !important;
    }

    button {
        padding: 10px 15px;
        background-color: $base-color;
        border: 0;
        border-radius: 10px;
        color: white;
        text-align: center;
        font-size: 16px;
        align-self: start;
        margin-top: 0px !important;
    }
}

.react-ripples {
    margin-top: 30px;
    border-radius: 15px;
    width: 100%;
}

#react-select-2-input {
    margin-bottom: 0;
    padding: 10px;
}

.state-selector {
    * {
        overflow: visible;
    }
}

/**
 * Keyframes
 */

@keyframes rotate-out-2-cw {
0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
}
100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 0;
}
}

.fade-in {
    animation: fade-in 0.5s;
    animation-fill-mode: forwards;
}

.fade-out {
    animation: fade-out 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

/**
 * Media Rules
 */

 @media screen and (max-width: 1200px) {
    .sign-up-form {
        width: 80vw !important;

        .title {
            font-size: 30px !important;
        }
        .subtitle {
            font-size: 24px !important;
        }
    }
}

@media screen and (max-width: 960px) {
    .container {
        flex-direction: column-reverse !important;
        padding-bottom: 100px !important;
    }
    .container-tri {
        margin-top: 0px !important;
        margin-bottom: 50px !important;
        flex: 1 1 100% !important;
    }
    .container-half {
        flex: 1 1 100% !important;
    }
    .cup {
        margin-bottom: 30px !important;
        height: 600px !important;
    }
    .sign-up-form {
        margin-bottom: 50px !important;

        .title {
            font-size: 26px !important
        }
        .subtitle {
            font-size: 18px !important;
        }
    }
    .name {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column-reverse !important;
    }
    .cup {
        margin-bottom: 30px !important;
        height: 400px !important;
    }
    input {
        font-size: 14px !important;
    }
    .submit {
        font-size: 18px !important;
    }
    .sign-up-form {
        margin-top: 75px !important;
        margin-bottom: 40px !important;
    }
    .dropzone {
        font-size: 14px !important;
    }
    .full-background {
        min-height: calc(100vh - 60px) !important;
    }
}


  